<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="to-do-list.png" type="image/x-icon">
</head>
<body>
    <div id="todo-list">
        <form action="/" method="post">
            <h2>To-Do List</h2>
            <input type="text" id="new-task" name="task" class="task" placeholder="Add a new task">
            <button type="submit" class="add">.</button>
        </form>
        <ul id="tasks">
            <% tasks.forEach(function(task) { %>
                <li>
                    <%= task.task %> <!-- Use task.task to access the task text -->
                        <form action="/delete" method="post" style="display: inline;">
                            <input type="hidden" name="id" value="<%= task._id %>" class="show"> <!-- Use task._id as the unique identifier -->
                            <button type="submit" class="delete">.</button>
                        </form>
                </li>
                <% }); %>
        </ul>
    </div>
</body>

</html>